html {
    background: #d900ff;
    background: linear-gradient(90deg, rgba(217, 0, 255, 1) 0%, rgba(255, 215, 128, 1) 63%);
    overflow: hidden;

}

.tituloInicio {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 10vw;
    margin-top: 10%;
    padding: 0;
    color: white;
}

.tituloAA {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 20vw;
    margin: 0;
    letter-spacing: -45px;
    color: white;
    text-shadow: 15px 10px 0px #ffffffb7;
}
.tituloS {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 3vw;
    position: relative;
    bottom: -7vh;
    left: 2vw;
    color: white;
    letter-spacing: 1vw;
    margin: 0;
}
.hojas1 {
    position: absolute;
    width: 80vw;
    left: -20vw;
    bottom: -15vh;
    z-index: 1;
    rotate: -25deg;
}
.hojas2 {
    position: absolute;
    width: 30vw;
    left: 0;
    top: -30vh;
    z-index: 1;
    rotate: 40deg;
}
.der {
    transform: rotateY(180deg);
    rotate: 25deg;
    right: -25vw;
    left: inherit;
}
.der2 {
    transform: rotateY(180deg);
    right: -1vw;
    rotate: -40deg;
    left: inherit;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}